@font-face {
  font-family: 'Roboto-Regulary';
  src: url(../fonts/Roboto-Regular.woff2);
}
@font-face{
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto-Medium.woff2);
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.woff2);
}

*{ 
    margin: 0;
    padding: 0;
    border: 0;   
   }
#header{
  font-size: 15px;
  font-family: 'Roboto-Regulary',sans-serif;
  

}
.container {
    width: 1060px;
    max-width: 100%; 
    margin: 0 auto; 
    font-family: 'Roboto-Regulary',sans-serif;
}

.logo{
  width: 77.34px;
  height: 47px;
  padding-right:25px ;
  font-size: 15px;
  font-family: 'Roboto-Regulary',sans-serif;
  margin-right: 10px;
  cursor: pointer;
}
.search-box-a input{
  font-size: 15px;
  font-family: 'Roboto-Regulary',sans-serif;

}
.nav-a img{
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.nav div{
  display: flex;
}
.header-top{
  display: flex;
  justify-content: space-between;
}
.nav{
  display: flex;
  align-items: center;
}
.nav a{
  text-decoration: none;
  color: #404040;
  align-items: center;
  margin: 0 10px 0 0;
}
.nav-a a:hover{
  color: #78b43d;
}
.nav-a ul a{
  align-items: center;
}
.mua {
  padding: 0 10px 0 0;
}
.tin{
  padding: 0 10px 0 0;
}

.nav-b a{
  max-width: 202px;
  display: flex;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    padding:0 10px;
    padding: 0 10px;
    height: 32px;
    
}
.nav-a ul a{
  padding: 0 10px 0 0;

  font-size: 14px;
  font-family: 'Roboto-Regulary',sans-serif;;
}

.nav-a ul{
  display: flex;
align-items: center;
}
 .lich {
  border-right: 1px solid #ebebeb;
 }
.search-box-a{
  font-family: 'Roboto-Regulary',sans-serif;
  size: 15px;
  }
  .search-box-a input{
    word-spacing: -1px;
}
  
.nav .search-box {
  margin: 0;
}
  
.ti-search{
  opacity: 0.6;
  width: 12px;
}


.ti-search:before{
  position: relative;
  right: 2px;
}
.ti-align-justify:before {
  position: relative;
  right: 9px;
}


.search-box input:focus-visible{
  outline: none;
}

.header-bot{
  background-color: #78b43d;
  
  font-family: 'Roboto-Regulary',sans-serif;
  font-size: 15px;
  color: #252525;
  width: 100%;
  position: sticky;
  top: 0;

}

.container-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}


/* .container-list li{
  display: block;
  padding: 0px 7px;
  margin-right: 5px; 
  height: 36px;
} */


.container-list a:hover{
  transition: 0.8s;
  background-color: rgb(0, 0, 0, 30%); 
    border:5px; 
    
    
}
.container-list a{
  text-decoration: none;
  font-family: 'Roboto-Medium';
  font-size: 12px;
  color: #FFFFFF;
  padding: 0 9px;
  line-height: 36px;
  
}
.container-list ul{
  display: flex;
  
}

.ti-align-justify{
  padding-left: 0;
  border-right: 1px solid #FFFFFF;
  padding-right: 15px;
  font-size: 15px;
  font-family:'Roboto-Regulary',sans-serif ;
  margin-right: 8px;
}
.ti-home{
  width: 16px;
  height: 16px;
  font-size: 15px;
  font-family:'Roboto-Regulary',sans-serif ;
}
.ti-home::before{
  margin-left: -12px;
}

#content{
  height: 100%;
}

.container-content{
  width:1100px ;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex: 2;
  margin-left: 5px;
}
.content-top-left img{
  width: 500px;
  height: 333px;
}
.content-top-left{
  flex: 1;
  padding: 0 15px;
  

}
.content-top-right{
  flex: 1;
}



#content{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 710px;

}
#content .container {
  width: 1100px;
  display: flex;
  
}

#content .content-left{
  width: 530px;
  height: 661px;
  color: #252525;
  font-size: 16px;
  font-family: 'Roboto-Regulary',sans-serif;
  
}
#content  .content-left img{
  cursor: pointer;
  padding: 0 15px;
  height: 333px;
}
#content .content-left a{
  display: block;
  padding: 0 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto-Medium';
  color: #252525;
  margin-top: 6px;
}
#content .content-left a:hover{
  color: #78b43d;
}
#content .content-left p{
  line-height: 1.4;
  display: block;
  margin-top: 8px;
  padding: 0 15px;
  color: #7d7d7d;
  font-size: 13px;
  font-family: 'Roboto-Regulary',sans-serif;
}


#content .box-content{
  display: flex;
}
#content .box-content-left{
  width: 176.64px;
  height: 207px;
  line-height: 1.5;
  
}
#content .box-content img{
  width: 146.64px;
  height: 97px;
  padding: 0 0;
  margin-left: 13px;
  margin-top: 19px;
}

#content .box-content-left a{
  display: block;
  color: #252525;
  font-size: 14px;
  font-family: 'Roboto-Medium';
  margin-top: 3px;
}

#content .content-mid{
  font-family: 'Roboto-Regulary',sans-serif;
  font-size: 15px;
  width: 240px;
  padding: 0 15px;
  line-height: 1.5;
  color: #252525;
}

#content .content-mid a{
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family:'Robobo-Medium' ;
  color: #252525;
  font-weight: 600;
}
#content .content-mid a:hover{
  color: #78b43d;

}
#content .box-content-mid{
  padding: 13px 0;
  font-family: 'Roboto-Regulary',sans-serif;
  font-size: 15px;
}
#content .box-content-mid a{
  line-height: 1.4;
}

#content .content-mid .box-content-mid .title-box {
  font-size: 12px;
  color: #78B43D;
  font-family: 'Roboto-Regulary',sans-serif;
  font-weight: normal;
}
#content .content-mid .box-content-mid:first-child{
  padding: 0 0 13px;
}

#content .box-content-mid:not(:last-of-type) {
  border-bottom: 1px solid #e2dddd;
}

#content .content-right{
  width: 320px;
  height: 634px;
  padding: 0 10px;
}
#content .content-right span img{
  width: 300px;
  height: 600px;
  margin-left: -9px;
  margin-right: 18px;
}



#footer{
display: flex;
justify-content: center;
}
#footer .nav-footer{
  font-size: 15px;
  font-family: 'Roboto-Regulary',sans-serif;
  width: 1100px;
  display: flex;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #464646;
  
}
#footer .nav-footer ul{
  display: flex;
  width: 1060px;
  
  font-size: 15px;
  font-family:'Roboto-Regulary',sans-serif;
 
}

#footer .ti-home:before {
  font-size: 20px;
  padding-left: 8px;
}



#footer .nav-footer li:first-child a {
  border-right: none;
  
} 
#footer .nav-footer ul li {
  list-style-type: none;
  padding: 4px 0;
  margin: 2px 0;
 
}
#footer .nav-footer li:first-child {
  margin-left: 23px;
} 



#footer .nav-footer li a{
  letter-spacing: 0px;
  font-size: 12px;
  text-decoration: none;
  border-right: 1px solid #464646;
  color: #464646;
  font-family: sans-serif;
  padding: 0 15px;
}

#footer .nav-footer li:last-child a {
  border-right: none;
} 



/* footer */



/* .item-footer li a{
  border-right: 1px solid currentcolor;
  width: 100%;
  text-decoration: none;
  padding: 0 15px;
  color: #333333;
  font-family:  sans-serif;
}
.item-footer li{
  
  padding: 4px 0;
}
.item-footer li a:hover{
  color: #78B43D;
}
.item-footer img{
  width: 20px;
  height: 20px;
}

.content-left-1{
  width: 50%;
  font-family: 'Roboto-Medium';
  color: #333333;
  padding: 0 20px;
  border-right: 1px solid #ebebeb;
}
.content-left-2{
  width: 50%;
  font-family: 'Roboto-Medium';
  color: #333333;
  padding: 0 20px;
}
.content-left-top span{
  font-family: 'Roboto-Bold';
  color: #333333;
  font-size: 14px;
  margin: 0 0 10px;
}
.content-left-top p{
  font-family:  sans-serif;
  color: #333333;
  font-size: 12px;
  line-height: 1.5;
  padding-left: 7px;
  margin-top: 12px;
}

.content-left-bot{
  font-family: sans-serif;
  color: #333333;
  font-size: 12px;
  margin: 0 0 20px;
}


.content-left-bot p{
  font-family:  sans-serif;
  color: #333333;
  font-size: 12px;
  line-height: 1.5;
  padding-left: 7px;
  margin-top: 12px;

}
.content-left-bot img{
  margin: 0 0 20px;
}

.content-left-top{
  margin: 0 0 20px;
  
}


.main-footer{
  margin-top: 20px;
 
  
}

.p-footer{
  display: flex;
}
.p-footer img{
  width: 7.65px;
  height: 11.23px;
  margin: 0 5px 0 0;
}


.bot-footer{
  display: flex;
  size: 15px;
  font-family: sans-serif;
}
.bot-footer a{
  text-decoration: none;
  padding: 0 15px;
  color: #363636;
  font-family: 'Roboto-Bold';
  size: 14px;
  display: flex; 

  align-items: center; 

  justify-content: center; 

  text-align: center; 
}

.footer-lhe{
  font-family: 'Roboto-Bold';
  padding: 6px 15px;
  margin: 0 15px 0 0;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  color: #30811D;
  
}

.bot-footer a:hover{
  color: #509e02;
}

.abc{
  color: #78b43d;
}
.pmt span{
  font-size: 12px;
} */

.container-footer {
  display: flex;
  width: 1100px;
  max-width: 100%; 
  margin: 0 auto; 
  font-family: sans-serif;
  margin-top: 20px;
  
}
.p-footer img{
  width: 7.65px;
  height: 11.23px;
  margin: 0 5px 0 0;
}
#footer .nav-footer ul li a:hover{
  color: #78B43D;
}

.container-footer .content-left-1{
  max-width: 499px;
  flex: 1;
  padding: 0 20px;
}
.container-footer .content-left-2{
  max-width: 499px;
  flex: 1;
  padding: 0 20px;
}

.content-left-top{
  line-height: 1.5;
}
.content-left-top h3{
  font-size: 14px;
  font-family: 'Roboto-Bold';
}
.content-left-top p{
  
  margin-top: 10px;
  font-size: 12px;
  font-family: sans-serif;
}

.content-left-bot{
  line-height: 1.5;
}

.p-footer img{
  display: inline-block;
  padding-right: 2px;
  width: 10px;
  height: 10px;

}

.content-left-bot{
  line-height: 1.5;
  margin-top: 21px;
}
.content-left-bot h2{
  font-size: 14px;
  font-family: 'Roboto-Bold';
}
.content-left-bot p{
  margin-top: 10px;
  font-size: 12px;
  font-family: sans-serif;
}

.content-left-2 .content-left-bot h3{
  font-size: 15px;
  font-family: 'Roboto-Bold';
}
.content-left-2 .content-left-bot{
  line-height: 1.5;
  margin-top: 0;
  margin-left: 20px;
}

.content-left-2 .content-left-bot img{
  padding-top: 8px;
width: 88px;
height: 42px;
}

.content-left-2 .content-left-bot p{
  
}

.content-left-2 .content-left-bot span{
  margin-top: 10px;
  font-size: 12px;
  font-family: sans-serif;
}

.content-left-2 .content-left-bot .pmt{
  padding-top: 7px;
}




.bot-footer {
  margin-top: 15px;
  margin-left: 18px;
  display: flex;
  align-items: center;
}
.bot-footer a{
  color: #363636;
  text-decoration: none;
  padding: 0px 15px;
  font-size: 14px;
  font-family: 'Roboto-Bold';
  
}

.bot-footer .footer-lhe{
  padding: 6px 15px;
  margin: 0 15px 0 0;
  color: #30811d;
  border-radius: 8px;
  border: 1px solid #e1e1e1;

}
.bot-footer a:hover{
  color: #78B43D;
  border-color: #78B43D;
}

.container-footer-bot {
  display: flex;
  width: 1100px;
  max-width: 100%; 
  margin: 0 auto; 
  font-family: sans-serif;
  margin-top: 20px;
  
}